{:interfaces
 {:Likeable
  {:fields
   {:id {:type (non-null ID)}}}}
 :objects
 {:User
  {:description "ユーザー情報"
   :fields
   {:id {:type (non-null ID)}
    :name {:type (non-null String)}
    :ship {:type (non-null :Ship)
           :description "所属中のShip"}
    :profile_img_url {:type String
                      :description "プロフィール画像のURL"}
    :following {:type (non-null (list :Follow))
                :description "フォロー中のユーザー"
                :resolve :User/following}
    :followers {:type (non-null (list :Follow))
                :description "フォローされているユーザー"
                :resolve :User/follower}}}
  :Ship
  {:description "ユーザーが所属するShip情報"
   :fields
   {:num {:type (non-null Int)
          :description "Ship番号"}
    :name {:type (non-null String)
           :description "Ship名"}}}
  :Image
  {:description "登録した画像情報"
   :implements [:Likeable]
   :fields
   {:id {:type (non-null ID)}
    :name {:type (non-null String)}
    :url {:type String}
    :tweet_count {:type Int
                  :description "ツイートされた数"}
    :comments {:type (non-null (list :Comment))
               :description "画像に寄せられたコメント情報"
               :resolve :Image/comments}
    :tags {:type (non-null (list :Tag))
           :description "画像に登録されたタグ情報"
           :resolve :Image/tags}
    :likes {:type (non-null (list :Like))
            :description "されたいいね！の情報"
            :resolve :Image/likes}}}
  :Comment
  {:description "ユーザーから寄せられたコメント"
   :implements [:Likeable]
   :fields
   {:id {:type (non-null ID)}
    :text {:type (non-null String)}
    :reply_to {:type :Comment
               :description "返信先"
               :resolve :Comment/reply_to}}
    :likes {:type (non-null (list :Like))
            :description "されたいいね！の情報"
            :resolve :Comment/likes}}
  :Tag
  {:description "画像に付けるタグ情報"
   :fields
   {:id {:type (non-null ID)}
    :name {:type (non-null String)}
    :owner {:type (non-null :User)
            :description "タグの作成者"
            :resolve :Tag/owner}}}
  :Like
  {:description "いいね！"
   :fields
   {:from {:type (non-null :User)
           :description "いいね！送信元"
           :resolve :Like/from_user}
    :to {:type (non-null :Likeable)
         :description "いいね！送信先"
         :resolve :Like/to}}}
  :Follow
  {:description "ユーザーのフォロー情報"
   :fields
   {:from {:type (non-null :User)
           :description "フォローしたユーザー"
           :resolve :Follow/from}
    :to {:type (non-null :User)
         :description "フォローされたユーザー"
         :resolve :Follow/to}}}}
 }
